<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>damas-index</title>
    <meta content="" name="description">
    <% include ../view/header.html %>
    <link rel="stylesheet" href="<%= staticUrl %>/css/main.css">
</head>
<body>
    <div id="content"></div>
    <div class="ejs-template">我是个ejs模板12122<%= staticUrl %></div>
	<script src="<%= staticUrl %>/js/index.js"></script>
</body>
</html>